.navbar-popup{
    position: fixed;
    right: 0;
    top: 0;
    background-color: black;
    width:100%;
    height:332px; 
}
.navbar-popup_hiden{
    display: none;
}
.navbar-popup__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:29px auto;
    max-width: 177px;
    height: 274px;
    justify-content: space-between;
}
@media screen and (min-width: 1440px) and (max-width:1750px){
    .navbar-popup{
        height:510px; 
    }
    .navbar-popup__container{
        margin:59px auto;
        max-width: 243px;
        height: 390px;
    }
}
@media screen and (min-width: 500px) and (max-width:834px){
    .navbar-popup{
        height:402px; 
    }
    .navbar-popup__container{
        margin:51px auto;
        max-width: 243px;
        height: 300px;
    }
}