.navbar-popup{
    position: fixed;
    right: 0;
    top: 0;
    background-color: black;
    width:375px;
    height:332px; 
}
.navbar-popup_hiden{
    display: none;
}
.navbar-popup__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:29px auto;
    max-width: 177px;
    height: 274px;
    justify-content: space-between;
}