.navbar-menu__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 32px;
}
.navbar-menu__link:hover{
    opacity:0.8;
    color:#B19A45;
}
.open {
    margin: 0;
}

.navbar-menu__link_dot {
    display: inline-block;
    background: url(../../utils/img/Ellipse\ 1.svg) no-repeat center;
    width: 5px;
    height: 5px;
    margin-left: 2px;
}

.navbar-menu__link:last-child {
    margin: 0;
}

@media screen and (min-width: 1440px) and (max-width:1500px) {
    .navbar-menu__link {
        font-size: 20px;
    }
}

@media screen and (min-width: 1500px) and (max-width:1920px) {
    .navbar-menu__link {
        font-size: 22px;
        line-height: 22px;
    }
}

@media screen and (min-width: 1440px) and (max-width:1440px) {
    .navbar-menu__link {
        font-size: 25px;
        line-height: 30px;
    }
}