.technology-map {
    padding-top: 68px;
    margin-bottom: 128px;
}

.technology-map__title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: justify;
    color: #FFFFFF;
    margin: 0 0 66px;
}

.technology-map__title_arrow {
    display: inline-block;
    background: url(../../utils/img/Vector_title.svg) no-repeat bottom;
    width: 31px;
    height: 31px;
    margin-left: 12.75px;
}

.technology-map__container {
    display: flex;
    max-width: 1216px;
}

.technology-map__info {
    border-left: 1px solid #B19A45;
    color: white;
    width: 382px;
    height: 140px;
    box-sizing: border-box;
    margin-right: 35px;
}

.technology-map__info__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: justify;
    margin: 15px 0 13px 20px;
}

.technology-map__info__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    margin: 0 0 0 20px;
}

@media screen and (min-width: 325px) and (max-width:500px) {
    .technology-map__title {
        font-size: 20px;
        line-height: 24px;
    }

    .technology-map__title_arrow {
        background: url(../../utils/img/ArrowMobile.svg) no-repeat center;
        width: 12.75px;
        height: 12.75px;
        margin-left: 3px;
    }

    .technology-map {
        padding-top: 0;
        margin-bottom: 53px;
    }

    .technology-map__container {
        display: flex;
        flex-wrap: wrap;
    }

    .technology-map__info {
        width: 100%;
        margin: 0 0 30px;
    }

    .technology-map__info__title {
        font-size: 20px;
        line-height: 24px;
        margin: 15px 0 26px 20px;
    }

    .technology-map__info__subtitle {
        font-size: 15px;
        line-height: 18px;
    }
}