.team {
    padding-top: 66px;
    margin-bottom: 206px;
}

.team__title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: justify;
    color: #FFFFFF;
    margin: 0
}

.team__title_arrow {
    display: inline-block;
    background: url(../../utils/img/Vector_title.svg) no-repeat bottom;
    width: 31px;
    height: 31px;
    margin-left: 12.75px;
}

.team__container {
    margin: 19px 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1272px;
}

.team__info {
    color: white;
    max-width: 585px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team__info__title {
    margin: 48px 0 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: justify;
}

.team__info__title_span {
    color: #B19A45;
}

.team__info__paragraph {
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
}

.team__info__paragraph:last-child {
    margin: 0
}

.team__slaider {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 630px;
    height: 746px;
    border: 2px solid #B19A45;
}

.team__slaider__title {
    margin: 48px 0 30px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: justify;
}

.team__slaider__title:nth-child(3) {
    margin-top: 30px;
}

.team__slaider__img {
    width: 451px;
    height: 422px;
    object-fit: cover;
}

.team__slaider__paragraph {
    margin: 0;
    max-width: 575px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
}


@media screen and (min-width: 1440px) and (max-width:1920px) {
    .team__container {
        margin: 67px 0 auto;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
        column-gap: 76px;
    }

    .team__info {
        max-width: 100%;
    }

    .team__slaider {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) and (max-width:1600px) {
    .team__info {
        height: 630px;
    }

    .team__info__title {
        margin: 13px 0 54px;
        font-size: 29px;
        line-height: 35px;
    }

    .team__info__paragraph {
        margin: 0 0 24px 0;
        font-size: 18px;
        line-height: 22px;
    }

    .team__slaider {
        height: 630px;
    }

    .team__slaider__title {
        font-size: 29px;
        line-height: 35px;
        margin: 43px 0 46px;
    }

    .team__slaider__title:nth-child(3) {
        margin: 24px 0 12px;
    }

    .team__slaider__img {
        width: 360px;
        height: 338px;
        object-fit: cover;
    }

    .team__slaider__paragraph {
        font-size: 20px;
        line-height: 24px;
        margin: 0;
        max-width: 460px;
    }
}
@media screen and (min-width: 834px) and (max-width:1439px){
    .team{
        margin-bottom: 100px;
    }
    .team__container {
        margin: 0;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
        row-gap: 76px;
    }
    .team__info {
        max-width: 100%;
    }
    .team__slaider {
        width: 100%;
    }
    .team__slaider__paragraph {
        max-width: 90%;
    }
}
@media screen and (min-width: 600px) and (max-width:834px) {
    .team__title {
        font-size: 35px;
        line-height: 43px;
    }
    .team__title_arrow {
        display: inline-block;
        background: url(../../utils/img/Vector_title.svg) no-repeat bottom;
        width: 31px;
        height: 31px;
        margin-left: 12.75px;
    }
    
}

@media screen and (min-width: 325px) and (max-width:834px) {
    .team {
        padding-top: 66px;
        margin-bottom: 78px;
    }

    .team__container {
        margin: 34px 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .team__title {
        font-size: 20px;
        line-height: 24px;
    }

    .team__title_arrow {
        background: url(../../utils/img/ArrowMobile.svg) no-repeat center;
        width: 12.75px;
        height: 12.75px;
        margin-left: 3px;
    }

    .team__info__title {
        margin: 0 0 14px;
        font-size: 20px;
        line-height: 24px;
    }

    .team__info__paragraph {
        margin: 0 0 20px 0;
        font-size: 15px;
        line-height: 18px;
    }

    .team__info {
        margin-bottom: 34px;
    }

    .team__slaider {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .team__slaider__title {
        margin: 20px 30px;
        font-size: 20px;
        line-height: 24px;
    }

    .team__slaider__img {
        width: 258px;
        height: 241px;
        object-fit: cover;
    }

    .team__slaider__paragraph {
        font-size: 15px;
        line-height: 18px;
        margin: 20px 0;
        max-width: 90%;
    }
}
