.header:before {
    content: '';
    display: block;
    background:url(../../utils/img/Pixel.svg) no-repeat;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.header__info {
    display: flex;
    flex-direction: column;
    margin: 240px 0 100px;
    width: 785px;
    height: 319px;
}

.header__container {
    margin: 240px auto 0;
    padding-bottom: 256px;
    max-width: 1275px;
    height: 443px;
}

.header__info__title {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
    margin: 0 0 25px 0;
}

.header__info__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: justify;
    color: #FFFFFF;
    margin: 0;
}

.header__links {
    display: flex;
    justify-content: space-between;
}

.header__counter {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 148px;
    align-items: center;
}

.header__counter__button {
    border: none;
    background: none;
    color: white;
}

.header__links__about {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
    color: #FFFFFF;
    text-decoration: none;
}
.header__links__about_arrow{
    display:inline-block;
    background: url(../../utils/img/Vector.svg) no-repeat center;
    width: 16.5px;
    height: 16.5px;
    margin-left: 12.75px;
}