.navbar {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.navbar__container {
    width: 872px;
    display: flex;
    justify-content: space-between;
}
.navbar__container_hiden{
    display:none;
}

.navbar__logo {
    width: 203px;
    height: 91px;
}

.navbar__button {
    width: 244px;
    height: 48px;
    background: linear-gradient(266.15deg, #B19A45 39.63%, rgba(177, 154, 69, 0) 131.87%);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #FFFFFF;
    position: absolute;
    top: 91px;
    right: 0;
    text-align: center;
    border: none;
}
.navbar__burger{
    border: none;
    background: url(../../utils/img/HeaderBurger.svg) no-repeat;
    width:60px;
    height:22px;
    cursor: pointer;
}
.navbar__burger_hiden{
    display:none;
}
@media screen and (min-width: 834px) and (max-width:1750px) {
    
}