.navbar {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.navbar__container {
    min-width: 872px;
    display: flex;
    justify-content: space-between;
}

.navbar__container_hiden {
    display: none;
}

.navbar__logo {
    width: 203px;
    height: 91px;
}

.navbar__burger {
    border: none;
    background: url(../../utils/img/HeaderBurger.svg) no-repeat;
    width: 60px;
    height: 22px;
    cursor: pointer;
}

.navbar__burger {
    display: none;
}

@media screen and (min-width: 325px) and (max-width:1440px) {
    .navbar__container {
        display: none
    }

    .navbar__burger {
        display: block;
        border: none;
        background: url(../../utils/img/HeaderBurger.svg) no-repeat;
        width: 60px;
        height: 22px;
        cursor: pointer;
    }
}

@media screen and (min-width: 325px) and (max-width:600px) {
    .navbar_mobile {
        position: fixed;
        padding: 0 40px;
        margin: auto;
        left: 0;
        right: 0;
        background: black;
        z-index: 3;
    }
}