.navbar {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.navbar__container {
    width: 872px;
    display: flex;
    justify-content: space-between;
}
.navbar__container_hiden{
    display:none;
}

.navbar__logo {
    width: 203px;
    height: 91px;
}

.navbar__burger{
    border: none;
    background: url(../../utils/img/HeaderBurger.svg) no-repeat;
    width:60px;
    height:22px;
}
.navbar__burger_hiden{
    display:none;
}
