.industries {
    padding-top: 66px;
}

.industries__title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: justify;
    color: #FFFFFF;
}

.industries__title_arrow {
    display: inline-block;
    background: url(../../utils/img/Vector_title.svg) no-repeat bottom;
    width: 31px;
    height: 31px;
    margin-left: 12.75px;
}

.industries_container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(409px, 1fr));
    margin: 66px auto 85px;
    max-width: 1270px;
}

@media screen and (min-width: 325px) and (max-width:500px) {
    .industries__title {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 35px 0;
    }

    .industries__title_arrow {
        background: url(../../utils/img/ArrowMobile.svg) no-repeat center;
        width: 12.75px;
        height: 12.75px;
        margin-left: 3px;
    }

    .industries_container {
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        margin: 0 auto;
    }

}