.industries {
    padding-top: 66px;
}

.industries__title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: justify;
    color: #FFFFFF;
}

.industries__title_arrow {
    display: inline-block;
    background: url(../../utils/img/Vector_title.svg) no-repeat bottom;
    width: 31px;
    height: 31px;
    margin-left: 12.75px;
}

.industries_container_dextop {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(409px, 1fr));
    margin: 66px auto 85px;
    max-width: 1270px;
}

.industries_container_mobile {
    display: none;
}

@media screen and (min-width: 1520px) and (max-width:1920px) {
    .industries_container_dextop {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        max-width: 100%;
    }
}

@media screen and (min-width: 1440px) and (max-width:1520px) {
    .industries_container_dextop {
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        max-width: 100%;
    }
}

@media screen and (min-width: 1280px) and (max-width:1439px) {
    .industries_container_dextop {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
        max-width: 100%;
    }
}

@media screen and (min-width: 834px) and (max-width:1279px) {
    .industries_container_dextop {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width:775px) {

    .industries_container_dextop {
        grid-template-columns: 1fr;
        max-width: 100%;
        grid-gap: 20px;
    }
}

@media screen and (min-width: 775px) and (max-width:834px) {
    .industries_container_dextop {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        max-width: 100%;
        grid-gap: 10px;
    }
}

@media screen and (min-width: 325px) and (max-width:600px) {
    .industries_container_dextop {
        display: none;
    }

    .industries_container_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 37px;
    }

    .industries__links {
        display: flex;
        width: 60px;
        justify-content: space-between
    }

    .industries__link {
        border: none;
        background: none;
        color: #B19A45;
        padding: 0;
    }

    .industries__title {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 35px 0;
    }

    .industries__title_arrow {
        background: url(../../utils/img/ArrowMobile.svg) no-repeat center;
        width: 12.75px;
        height: 12.75px;
        margin-left: 3px;
    }

    .industries_container_mobile {
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        margin: 0 auto;
    }

}