.contacts {
    padding-top: 66px;
    margin-bottom: 168px;
    color: white;
    position: relative;
}

.contacts::before {
    /* content: ""; */
    display: block;
    background: url(../../utils/img/Map.svg) no-repeat;
    position: absolute;
    z-index: -2;
    top: 300px;
    left: 75px;
    width: 1363px;
    height: 803px;
}

.contacts__title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: justify;
}

.contacts__title_arrow {
    display: inline-block;
    background: url(../../utils/img/Vector_title.svg) no-repeat bottom;
    width: 31px;
    height: 31px;
    margin-left: 12.75px;
}

.contacts__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1080px;
    margin-top: 66px;
}

.contacts__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 431px;
    height: 200px;
    border-left: 1px solid #B19A45;
    padding: 16px 0 16px 21px;
    margin-bottom: 20px;
}

.contacts__info:last-child {
    margin: 0;
}

.contacts__info__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: justify;
}

.contacts__info__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
}

.contacts__copyright {
    display: none;
}
@media screen and (min-width: 600px) and (max-width:1920px) {
    .contacts {
        margin-bottom: 60px;
        background-image: url(../../utils/img/Map.svg);
        background-position: left;
        background-repeat: no-repeat;
    }

    .contacts::before {
        content: none;
    }
}
@media screen and (min-width: 325px) and (max-width:600px) {
    .contacts__title {
        font-size: 20px;
        line-height: 24px;
    }

    .contacts__title_arrow {
        background: url(../../utils/img/ArrowMobile.svg) no-repeat center;
        width: 12.75px;
        height: 12.75px;
        margin-left: 3px;
    }

    .contacts__info__title {
        font-size: 20px;
        line-height: 24px;
    }

    .contacts__info__subtitle {
        font-size: 15px;
        line-height: 18px;
    }

    .contacts__info {
        height: 150px;
        padding: 10px 0 10px 21px;
    }

    .contacts__container {
        height: 830px;
        margin-top: 97px;
    }

    .contacts__copyright {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-align: justify;
        color: #B19A45;
        margin: 43px auto 0;
        width: 134px;
    }

    .contacts {
        margin-bottom: 37px;
        background-image: url(../../utils/img/Map.svg);
        background-position: left;
        background-repeat: no-repeat;
    }

    .contacts::before {
        content: none;
    }
}

